.imagen{
  background-image: linear-gradient(rgba(227, 230, 238, 0.055),rgba(227, 230, 238, 0.283)),
  url(/src/Imagenes/fondo.jpg);
  height: 868px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.nombre{
  color: black;
  margin-top: 5%;
  margin-left: 150px;
  font-family: 'Lobster', cursive;
  font-size: 8rem;
}

.logo{
  height: 250px;
  width: 320px;
  float: right;
  margin-right: 100px;
}

.contenedor{
  padding: 3rem;
  width: 100%;
  max-width: 1000px;
  height: 140px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.card{

  width: 80%;
  max-width: 1000px;
  height: 140px;
  background-color: rgba(234, 97, 16, 0.8);
}

.card1{
  margin-left: 80px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

}


.contenedor .card:hover{
  transform: translateY(-15px);
} 

.contenedor .card img{
  width: 100px;
  height: 100px;
}

.contenedor1{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
  
.opciones{
  display: flex;
  font-size: 2rem;
  gap: 100px;
  justify-content: center;
  flex-direction: row;
  grid-template-columns: 20%;
}


